<!DOCTYPE html> 
<html> 
  <head> 
    <title>{{title}} - Request Date: {{reqDate}}</title> 
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <script src="/jquery/jquery.js"> </script>
        <script src="/js/main.js"> </script>
  </head> 
  <body> 
    {{{body}}} 
  </body> 
</html> 